body {
  background-color: aqua;
}


ul {
  display: inline-block;
  flex-wrap: wrap;
  background-color: antiquewhite;
  list-style-type: none;
}


#filterselector {
  display: flex;
  align-items: flex-end;
}